<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="../main">
                <i class="bi bi-grid"></i>
                <span>메인 페이지</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <!-- CCTV 메뉴 -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-toggle="collapse" href="#cctv-nav">
                <i class="bi bi-bar-chart"></i><span>CCTV</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="cctv-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="../CCTV">
                        <i class="bi bi-circle"></i><span>부민동</span>
                    </a>
                </li>
                <li>
                    <a href="../CCTV">
                        <i class="bi bi-circle"></i><span>해운대</span>
                    </a>
                </li>
            </ul>
        </li><!-- End CCTV Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>차트</span>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav"></ul>
        </li><!-- End Charts Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="../QNA">
                <i class="bi bi-question-circle"></i>
                <span>고객센터</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="../logout/">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>로그아웃</span>
            </a>
        </li><!-- End Login Page Nav -->

    </ul>

</aside><!-- End Sidebar-->