{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CCTV 관리자 사이트</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="icon" href="{% static 'resources/NiceAdmin/assets/img/prelogo.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'resources/NiceAdmin/assets/img/prelogo.png' %}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static '/resources/NiceAdmin/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/quill/quill.snow.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/simple-datatables/style.css'%}" rel="stylesheet"
          type="text/css"/>

    <!-- Template Main CSS File -->
    <link href="{% static '/resources/NiceAdmin/assets/css/style.css'%}" rel="stylesheet" type="text/css"/>
    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          integrity="...">
    <!-- 부트스트랩 JS 및 Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="..."
            crossorigin="anonymous"></script>
    <!-- Bootstrap 및 Popper.js 스크립트 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-yNlBEKhdeDO/Ev7F8sDeL4UzZNAq2g9ekS9E08pGCt5tK48znjtuQwX1BSKpGJvV"
            crossorigin="anonymous"></script>

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .header {
            position: relative;
            z-index: 2; /* 헤더의 레이어를 높게 설정 */
        }

        .sidebar {
            position: fixed;
            top: 60px;
            left: -300px;
            bottom: 0;
            width: 300px;
            z-index: 1; /* 사이드바의 레이어를 낮게 설정 */
            transition: all 0.3s;
            padding: 20px;
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #aab7cf transparent;
            box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
            background-color: #fff;
        }

        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 18px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

/* 그림자 스타일 */
.shadowed-alert {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 색 및 크기 조절 가능 */
}

/* 필요한 경우 그림자가 나타날 때 요소가 약간 들어오도록 margin 추가 */
.shadowed-alert {
    margin-bottom: 10px; /* 나타날 그림자에 따라 조절 가능 */
}

        .sidebar a:hover {
            color: #f1f1f1;
        }
        .button-class {
            border: none;
        }

        .header.fixed-top {
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #fff; /* 원하는 배경색으로 수정하세요 */
        z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    }

        .content {
        padding-top: 80px; /* 고정된 헤더를 고려하여 콘텐츠의 상단 여백을 추가 */
        padding-right: 30px;
        padding-bottom: 0;
        padding-left: 30px;
        transition: padding-left 0.3s;
    }

        .sidebar-open .content {
            margin-left: 300px; /* 사이드바 열릴 때 콘텐츠를 오른쪽으로 이동 */
            width: calc(100% - 300px); /* 사이드바 열릴 때 콘텐츠의 너비를 조절하여 축소 효과 */
        }

        .toggle-btn {
            font-size: 20px;
            cursor: pointer;
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 2;
        }

        .video-container {
            position: relative;
            overflow: hidden;
            padding-bottom: 56.25%; /* 16:9 비율을 유지하기 위한 값. 비율을 변경하려면 조절하세요. */
            max-width: 100%; /* 부모인 card-body의 너비에 맞추기 */
            margin-bottom: 15px; /* 필요에 따라 조절 */
        }

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .shadow {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.01);
    }

        .menu-icon {
    width: 20px; /* 원하는 폭으로 조정 */
    height: 20px; /* 원하는 높이로 조정 */
    /* 추가적인 스타일이 필요하다면 여기에 추가 */
}


    </style>
</head>
</style>


</head>


<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
        <a href="../main" class="logo d-flex align-items-center">
            <img src="{% static 'resources/NiceAdmin/assets/img/logos.png' %}" alt="">
            <span class="d-none d-lg-block">Watcher</span>
        </a>
        <div class="bi bi-list toggle-sidebar-btn" onclick="toggleSidebar()"></div>
    </div><!-- End Logo -->

    <div class="search-bar" style="padding-top:15px;">
        <form class="search-form d-flex align-items-center">
            <input type="text" placeholder="Search">
            <button><i class="bi bi-search"></i></button>
        </form>
    </div><!-- End Search Bar -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item d-block d-lg-none">
                <a class="nav-link nav-icon search-bar-toggle " href="#">
                    <i class="bi bi-search"></i>
                </a>
            </li><!-- End Search Icon-->

            <li class="nav-item dropdown">

                <a class="nav-link nav-icon" href="" data-bs-toggle="dropdown">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">4</span>
                </a><!-- End Notification Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                    <li class="dropdown-header">
                        4개의 새 소식이 있습니다.
                        <a href=""><span class="badge rounded-pill bg-primary p-2 ms-2">모두 보기</span></a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-exclamation-circle text-warning"></i>
                        <div>
                            <h4>알림 1</h4>
                            <p>-</p>
                            <p>30 분 전</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-x-circle text-danger"></i>
                        <div>
                            <h4>알림 2</h4>
                            <p>-</p>
                            <p>1 시간 전</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-check-circle text-success"></i>
                        <div>
                            <h4>알림 3</h4>
                            <p>-</p>
                            <p>2 시간 전</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li class="notification-item">
                        <i class="bi bi-info-circle text-primary"></i>
                        <div>
                            <h4>알림 4</h4>
                            <p>-</p>
                            <p>4 시간 전</p>
                        </div>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="dropdown-footer">
                        <a href="#">알림 전체보기</a>
                    </li>

                </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="{% static 'resources/NiceAdmin/assets/img/doldol.jpg' %}" alt="Profile"
                         class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">사용자</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>사용자</h6>
                        <span>매장 매니저</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                            <i class="bi bi-gear"></i>
                            <span>매장 정보</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="../QNA">
                            <i class="bi bi-question-circle"></i>
                            <span>고객센터</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="../">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>로그아웃</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->
</header><!-- End Header -->

</body>
<div class="content">

    <section class="section">
        <div class="row">
            <!-- 첫 번째 동영상 섹션 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="video-container">
                            <video id="myVideo1" controls autoplay onended="playNextVideo()">
                                <source src="{% static 'video/파손1.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="alert alert-light bg-light border-0 alert-dismissible fade show shadowed-alert"
                             role="alert">
                            <span>1번 카메라</span>
                            <div class="d-flex align-items-center justify-content-end"
                                 style="position: absolute; top: 10px; right: 10px;">
                                <button class="button-class" type="button" data-bs-toggle="modal"
                                        data-bs-target="#videoModal1">
                                    <img src="{% static 'resources/NiceAdmin/assets/img/menu.png' %}" alt="Menu"
                                         class="menu-icon">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 모달 -->
            <div class="modal fade" id="videoModal1" tabindex="-1" aria-labelledby="videoModalLabel1"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel1">CCTV</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center"> <!-- text-center 클래스 추가 -->
                            <div class="video-container"
                                 style="display: flex; justify-content: center; align-items: center; height: 70vh; overflow: hidden;">
                                <video id="myVideo1" controls autoplay onended="playNextVideo()">
                                    <source src="{% static 'video/파손1.mp4' %}" type="video/mp4"
                                            style="display: block; margin: 0 auto;">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div style="max-height: 70vh; overflow: auto; margin: 20px 20px 0px 0;">
                                <p>설명이다</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- 두 번째 동영상 섹션 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="video-container">
                            <video id="myVideo2" controls autoplay onended="playNextVideo()">
                                <source src="{% static 'video/파손2.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="alert alert-light bg-light border-0 alert-dismissible fade show shadowed-alert"
                             role="alert">
                            <span>2번 카메라</span>
                            <div class="d-flex align-items-center justify-content-end"
                                 style="position: absolute; top: 10px; right: 10px;">
                                <button class="button-class" type="button" data-bs-toggle="modal"
                                        data-bs-target="#videoModal1">
                                    <img src="{% static 'resources/NiceAdmin/assets/img/menu.png' %}" alt="Menu"
                                         class="menu-icon">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 모달 -->
            <div class="modal fade" id="videoModal2" tabindex="-1" aria-labelledby="videoModalLabel1"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel2">CCTV</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center"> <!-- text-center 클래스 추가 -->
                            <div class="video-container"
                                 style="display: flex; justify-content: center; align-items: center; height: 70vh; overflow: hidden;">
                                <video id="myVideo1" controls autoplay onended="playNextVideo()">
                                    <source src="{% static 'video/파손2.mp4' %}" type="video/mp4"
                                            style="display: block; margin: 0 auto;">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div style="max-height: 70vh; overflow: auto; margin: 20px 20px 0px 0;">
                                <p>설명이다</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 세 번째 동영상 섹션 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="video-container">
                            <video id="myVideo3" controls autoplay onended="playNextVideo()">
                                <source src="{% static 'video/파손3.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="alert alert-light bg-light border-0 alert-dismissible fade show shadowed-alert"
                             role="alert">
                            <span>3번 카메라</span>
                            <div class="d-flex align-items-center justify-content-end"
                                 style="position: absolute; top: 10px; right: 10px;">
                                <button class="button-class" type="button" data-bs-toggle="modal"
                                        data-bs-target="#videoModal1">
                                    <img src="{% static 'resources/NiceAdmin/assets/img/menu.png' %}" alt="Menu"
                                         class="menu-icon">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 모달 -->
            <div class="modal fade" id="videoModal3" tabindex="-1" aria-labelledby="videoModalLabel1"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel3">CCTV</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center"> <!-- text-center 클래스 추가 -->
                            <div class="video-container"
                                 style="display: flex; justify-content: center; align-items: center; height: 70vh; overflow: hidden;">
                                <video id="myVideo1" controls autoplay onended="playNextVideo()">
                                    <source src="{% static 'video/파손3.mp4' %}" type="video/mp4"
                                            style="display: block; margin: 0 auto;">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div style="max-height: 70vh; overflow: auto; margin: 20px 20px 0px 0;">
                                <p>설명이다</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 네 번째 동영상 섹션 -->
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="video-container">
                            <video id="myVideo4" controls autoplay onended="playNextVideo()">
                                <source src="{% static 'video/파손4.mp4' %}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="alert alert-light bg-light border-0 alert-dismissible fade show shadowed-alert"
                             role="alert">
                            <span>4번 카메라</span>
                            <div class="d-flex align-items-center justify-content-end"
                                 style="position: absolute; top: 10px; right: 10px;">
                                <button class="button-class" type="button" data-bs-toggle="modal"
                                        data-bs-target="#videoModal1">
                                    <img src="{% static 'resources/NiceAdmin/assets/img/menu.png' %}" alt="Menu"
                                         class="menu-icon">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 모달 -->
            <div class="modal fade" id="videoModal4" tabindex="-1" aria-labelledby="videoModalLabel1"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="videoModalLabel1">CCTV</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center"> <!-- text-center 클래스 추가 -->
                            <div class="video-container"
                                 style="display: flex; justify-content: center; align-items: center; height: 70vh; overflow: hidden;">
                                <video id="myVideo1" controls autoplay onended="playNextVideo()">
                                    <source src="{% static 'video/파손4.mp4' %}" type="video/mp4"
                                            style="display: block; margin: 0 auto;">
                                    Your browser does not support the video tag.
                                </video>
                            </div>

                            <div style="max-height: 70vh; overflow: auto; margin: 20px 20px 0px 0;">
                                <p>설명이다</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ======= Sidebar ======= -->
            <aside id="sidebar" class="sidebar">

                <ul class="sidebar-nav" id="sidebar-nav">

                    <li class="nav-item">
                        <a class="nav-link " href="../main">
                            <i class="bi bi-grid"></i>
                            <span>메인 페이지</span>
                        </a>
                    </li><!-- End Dashboard Nav -->

                    <!-- CCTV 메뉴 -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-toggle="collapse" href="#cctv-nav">
                            <i class="bi bi-bar-chart"></i><span>CCTV</span><i class="bi bi-chevron-down ms-auto"></i>
                        </a>
                        <ul id="cctv-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                            <li>
                                <a href="../CCTV">
                                    <i class="bi bi-circle"></i><span>부민동</span>
                                </a>
                            </li>
                            <li>
                                <a href="../CCTV">
                                    <i class="bi bi-circle"></i><span>해운대</span>
                                </a>
                            </li>
                        </ul>
                    </li><!-- End CCTV Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                            <i class="bi bi-bar-chart"></i><span>차트</span>
                        </a>
                        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav"></ul>
                    </li><!-- End Charts Nav -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="../QNA">
                            <i class="bi bi-question-circle"></i>
                            <span>고객센터</span>
                        </a>
                    </li><!-- End F.A.Q Page Nav -->

                    <li class="nav-item">
                        <a class="nav-link collapsed" href="../">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span>로그아웃</span>
                        </a>
                    </li><!-- End Login Page Nav -->

                </ul>

            </aside><!-- End Sidebar-->

            <script>
                function toggleSidebar() {
                    var sidebar = document.querySelector('.sidebar');
                    var content = document.querySelector('.content');
                    if (sidebar.style.left === '0px') {
                        sidebar.style.left = '-300px';
                        content.style.marginLeft = '0';
                    } else {
                        sidebar.style.left = '0';
                        content.style.marginLeft = '300px';
             }
                }

                function loadCCTV(videoId) {
                    // 선택한 CCTV에 대한 영상을 로드하는 로직을 추가하세요.
                    // 예: document.getElementById(videoId).src = 'your_cctv_video_url.mp4';
                }
            </script>
            </body>


</html>