{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="icon" href="/static/infoimg/logo.ico">

    <title>Watcher</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static '/resources/BizLand/assets/vendor/aos/aos.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static '/resources/BizLand/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/BizLand/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/BizLand/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static '/resources/NiceAdmin/assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet"
          type="text/css"/>

    <!-- Template Main CSS File -->
    <link href="{% static '/resources/BizLand/assets/css/style.css' %}" rel="stylesheet" type="text/css"/>

    <style>
        .circle {
                background-color: white;
                display: inline-block;
                border-radius: 50%;
                padding: 20px; /* 동그라미 안에 여백 추가 */
                width: 300px; /* 가로 크기 조절 */
                height:300px;
                text-align: center; /* 텍스트 중앙 정렬 */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid #4154f1;
            }
    </style>

    <!-- =======================================================
    * Template Name: BizLand
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between" style="left:-30px;">
        <h1 class="logo" style="font-family: 'Noto Sans KR', sans-serif;"><img src="static/infoimg/Wlogo.png"
                                                                               class="img-fluid" alt=""
                                                                               style="height: 100%; width: auto; margin-right:10px;"><a
                href="../">Watcher</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

        <nav id="navbar" class="navbar">
            <ul style="margin-right:60px;">
                <li><a class="nav-link scrollto active" href="#hero">홈</a></li>
                <li><a class="nav-link scrollto" href="#about">소개</a></li>
                <li><a class="nav-link scrollto" href="#services">서비스</a></li>
                <li><a class="nav-link scrollto" href="#testimonials">가이드</a></li>
                <li><a class="nav-link scrollto" href="#pricing">플랜</a></li>
                <li><a class="nav-link scrollto" href="#contact">문의</a></li>
            </ul>

            <a class="nav-link scrollto" href="../index">
                <div class="btn-get-started">시작하기</div>
            </a>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container mt-5" data-aos="zoom-out" data-aos-delay="100">
        <h1 style="font-family: 'Noto Sans KR', sans-serif;">무인 점포 관리를
            <br>
            <span style="font-family: 'Noto Sans KR', sans-serif;">Watcher</span> 하나로</h1>
        <br>
        <h2 style="font-family: 'Gothic A1', sans-serif; font-size:20px;">합리적인 스마트 무인 점포 운영을 위한 기술을 제공합니다.</h2>
        <div class="d-flex">
            <a href="../main" class="btn-get-started scrollto"
               style="font-family: 'Noto Sans KR', sans-serif; font-size:30px;">서비스
                시작하기</a>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg" style="padding:80 0px;">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <h3 style="font-family: 'Noto Sans KR', sans-serif; padding:0 0 20 10px; ">Overview</h3>
                <div class="col-lg-1"></div>
                <div class="col-lg-4  pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                     data-aos-delay="100">
                    <h4 class="title" style="font-size: 30px;">내 눈이 되어주는<br> 인공지능 <span
                            style="font-family: 'Noto Sans KR', sans-serif; color:#4154f1;">Watcher!</span></h4>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                     data-aos-delay="100">

                    <p class="fst">
                        무인 매장 대상 범죄 증가로 창업을 망설이는 예비 점주님 <br>
                        반복되는 돌발 상황 발생으로 사업 확장의 꿈을 포기한 점주님 <br>
                        자꾸만 <strong>CCTV 화면을 확인하게 되는 점주님</strong>을 위한 서비스는 없을까?
                    </p>
                    <div style="padding: 0 0 30 0px;"></div>
                    <p class="fst">
                        돌발 상황 대응 방안 부족으로 무인 운영의 이점을 잃어버린 무인 점포 점주님을 위해 <br>
                        365일 24시간 <strong style="color:#4154f1;">쉬지 않고 점포를 지키는 감시자 같은 서비스</strong>를 제공하고자 하였습니다.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!--    Desk Research-->
    <section class="about section-bg" style="padding:40 0px;">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <h3 style="font-family: 'Noto Sans KR', sans-serif; padding:0 0 40 10px;">Desk Research</h3>
                <div class="col-lg-6  pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                     data-aos-delay="100">
                    <p style="font-family: 'Gothic A1', sans-serif; font-size:25px; text-align: center;  font-weight: bold;">
                        점차 증가하는 무인 점포</p>
                    <p class="fst" style="text-align: center;">최저임금과 무인점포 인허가</p>
                    <img src="static/infoimg/img.png" class="img-fluid" alt="" style="max-height: 80%;">
                    <p class="fst" style="font-size:10px; color:#b0b0b0">출처 : 식품자동판매기를 도입한 기업기준, 자료 =행정 안전부</p>
                </div>
                <div class="col-lg-6  pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
                     data-aos-delay="100">
                    <p style="font-family: 'Gothic A1', sans-serif; font-size:25px; text-align: center;  font-weight: bold;">
                        <span class="fst" style="text-align: center; font-size:20px;">하지만...</span>
                        <br>점주님과 손님 모두 걱정 가득한 무인 매장의 현실</p>
                    <img src="static/infoimg/Group 120.png" class="img-fluid" alt="" style="width: 75%;">
                    <p class="fst" style="font-size:10px; color:#b0b0b0">출처 : 엑시스코리아, 무인 매장 선호도 조사 ‘대한민국 리테일 리서치 2022’
                        발표</p>
                </div>
            </div>

        </div>
    </section>

    <!-- ======= Featured Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
            <h3 style="font-family: 'Noto Sans KR', sans-serif; padding:0 0 40 10px;">Solution</h3>
            <div class="pt-4 pt-lg-0 content d-flex align-items-center justify-content-center" data-aos="fade-up"
                 data-aos-delay="100">
                <div class="circle text-center">
                    <p style="font-family: 'Gothic A1', sans-serif; font-size: 20px;">효율적인 무인 점포<br> 운영을 위한<br>
                        <strong style="color: #4154f1;">실시간 알림 서비스</strong>의 <br>필요성 확인</p>
                </div>
            </div>
            <img src="static/infoimg/Sol.png" class="img-fluid" alt="" style="width: 100%;">
            <div class="row" style="padding:30 0 0 0px;">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="ri-fire-line"></i></div>
                        <h4 class="title">화재 감지</h4>
                        <p class="description">실시간 모니터링을 통해 점포 내 화재 발생 시 알림 기능을 제공합니다.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-shield-quarter"></i></div>
                        <h4 class="title">파손 감지</h4>
                        <p class="description">점포 내 상품 및 기물이 파손될 시 알림 기능을 제공합니다.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="ri-spam-line"></i></div>
                        <h4 class="title">돌발 행동 감지</h4>
                        <p class="description">점포 내 화재·파손 이외 돌발 행동이 감지될 시 알림을 제공합니다.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="ri-numbers-line"></i></div>
                        <h4 class="title">주기별 통계 제공</h4>
                        <p class="description">일·월별 모니터링 결과로 원활한 점포 운영에 효율적인 지표를 제공합니다.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= 가이드 Section ======= -->
    <section id="testimonials"
             style="border: 1px solid #e2eefd; padding: 50px 20px; transition: all ease-in-out 0.3s; background: #fff; max-height:85vh;">
        <div class="container" data-aos="zoom-in">
            <h3 style="font-family: 'Noto Sans KR', sans-serif; padding:0 0 40 10px;">Guide</h3>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h2 style="text-align: center; font-size:20px;">메인 페이지 ▶</h2>
                            <img src="../static/infoimg/G1.png" alt="" style="max-width: 100%; height: auto;">

                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h2 style="text-align: center; font-size:20px;">CCTV ▶</h2>
                            <img src="../static/infoimg/G2.png" alt="" style="max-width: 100%; height: auto;">

                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <h2 style="text-align: center; font-size:20px;">차트 ▶</h2>
                            <img src="../static/infoimg/G3.png" alt="" style="max-width: 100%; height: auto;">

                        </div>
                    </div><!-- End testimonial item -->


                </div>

            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing" style="padding:50 0px;">
        <div class="container" data-aos="fade-up">


            <h3 style="font-family: 'Noto Sans KR', sans-serif; padding:0 0 40 10px;">Pricing</h3>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <h3 style="font-family: 'Noto Sans KR', sans-serif;">2주 체험 플랜</h3>
                        <h4><sup>￦</sup>0<span> / month</span></h4>
                        <ul>
                            <li>CCTV 실시간 모니터링</li>
                            <li>돌발 상황 시 알림 제공</li>
                            <li class="na">통계별 차트 제공</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">체험하기</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured">
                        <h3>30일 플랜</h3>
                        <h4><sup>￦</sup>49,900<span> / month</span></h4>
                        <ul>
                            <li>CCTV 실시간 모니터링</li>
                            <li>돌발 상황 시 알림 제공</li>
                            <li>통계별 차트 제공</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">구독하기</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <h3>365일 플랜<sup>-10%</sup></h3>
                        <h4><sup>￦</sup>538,920<span> / year</span></h4>
                        <ul>
                            <li>CCTV 실시간 모니터링</li>
                            <li>돌발 상황 시 알림 제공</li>
                            <li>통계별 차트 제공</li>
                        </ul>
                        <div class="btn-wrap">
                            <a href="#" class="btn-buy">구독하기</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">


            <h3 style="font-family: 'Noto Sans KR', sans-serif; padding:0 0 40 10px;">Contact</h3>


            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       required>
                            </div>
                            <div class="col form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                   required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer =======-->
<footer id="footer">

    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>BizLand</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static '/resources/BizLand/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/aos/aos.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static '/resources/BizLand/assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static '/resources/BizLand/assets/js/main.js' %}"></script>

</body>

</html>